/* Page Title */
.page-title {
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
    -fx-font-size: 28px;
}

.subtitle {
    -fx-text-fill: #7f8c8d;
    -fx-font-size: 14px;
}

.section-title {
    -fx-text-fill: #34495e;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}